<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<style>
    .logintext{
        margin: auto;
        width: 50%;
        text-align: center;
    }
</style>
<body>
    {{>header1}}
    <div class="logintext">
        <h1 class="ml13">Tetris Game Login

            <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@mojs/core"></script>

        </h1>
        <script>
            var textWrapper = document.querySelector('.ml13');
            textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

            anime.timeline({ loop: true })
                .add({
                    targets: '.ml13 .letter',
                    translateY: [100, 0],
                    translateZ: 0,
                    opacity: [0, 1],
                    easing: "easeOutExpo",
                    duration: 1400,
                    delay: (el, i) => 300 + 30 * i
                }).add({
                    targets: '.ml13 .letter',
                    translateY: [0, -100],
                    opacity: [1, 0],
                    easing: "easeInExpo",
                    duration: 1200,
                    delay: (el, i) => 100 + 30 * i
                });


        </script>
    </div>
    <section class="login-clean">
        <form action="/login">
            <h2 class="visually-hidden">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-navigate"></i></div>
            <div class="mb-3"><input type="email" class="form-control" name="email" placeholder="Email" required />
            </div><br>
            <div class="mb-3"><input type="password" class="form-control" name="password" placeholder="Password"
                    required /></div><br>
            <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Log In</button>
            </div>
            <a class="forgot" href="/registartion">New SignUp here</a>
           
        </form>
    </section>
    {{>footer}}
</body>

</html>